Don't auto-detect link-local IP addresses

### Is your feature request related to a problem? Please describe.

#4769

### Describe the solution you would like

Prefer non-link-local IP addresses over link-local IP addresses when automatically determining an IP address to use.

### Describe alternatives you've considered

Don't do it. This can result in a degraded experience for first-time users (as seen in #4769).

### Additional context

Question is: Should k0s never auto-detect link-local addresses, or should it only detect them when there's no "better" alternative?

I think that this issue should really be split into multiple related sub-problems.

## Documentation ambiguity

Part of the problem is ambiguity of the term `non-local address`, as it's not a standard address based on classifications defined in [RFC 6890](https://www.rfc-editor.org/rfc/rfc6890). This ambiguity may lead some users to assume that formally defined `link-local` (`169.254.0.0/16`) is a subset of informal `local` used in k0s docs, which clearly includes formal `loopback` (`127.0.0.0/8`). The same is true about the phrase `first public address` (if it was RFC, we'd need to explicitly state that `public` is equivalent to `non-local`). 

Additionally, if one assumes that `private-use` cannot be a subset of `public`, then k0s behaviour of not ignoring `10.0.0.0/8`, `172.16.0.0/12` or `192.168.0.0/16` will be unexpected. In most scenarios, private-use addresses are desired to be used for control plane.

## IP address selection flow issues

This section is long, but important to keep it posted here as it provides more background and proofs, especially for separate feature request. 

`FirstPublicAddress` internally is described as:

```
// FirstPublicAddress return the first found non-local IPv4 address that's not part of pod network
// if any interface does not have any IPv4 address then return the first found non-local IPv6 address
```

This comment does not reflect the actual implementation, which looks like this:

1. checks if there are any network interfaces, if not - raises error 
2. for each of network interface returned by `net.Interfaces()`:
   1. skips interfaces bearing arbitrary, hardcoded names
   2. skips interfaces with names that start by arbitrary, hardcoded prefixes
   3. enumerates all addresses on interface (using `interfaceAddrs(i)`) and for each:
      1. calls `a.IP.IsLoopback()`, which checks if address is in `127.0.0.0/8` from RFC1122 or `::1` from RFC4291; if not:
        1. if IP can be cast to 4 bytes (i.e. it is valid IPv4) it's returned immediately
        2. if IP can be cast to 16 bytes (i.e. it is valid IPv6): if we didn't store any IPv6 fall-back, current IPv6 is stored as fall-back
3. since we reached here, no IPv4 was returned; if there was IPv6 fall-back stored: return it
4. since no IPv4 or IPv6 were returned, return `127.0.0.1` 

Moreover, there are couple of issues with this implementation:

1. `first` is based on enumeration of interfaces by `ifindex` from kernel and enumeration of addresses, which may lead to surprises when hot plug is involved
2. exclusions are supposed to be based on pod networks (CIDRs are part of configuration), but k0s actually filters interfaces based on their names; this is something that may cause confusion to users who did not read the code and since there's no interface prefix name registry may: 
   1. exclude non-pod-related interfaces which have similar names
   2. fail to exclude interfaces for CNIs not officially supported or potentially cause the same headaches as `/var/lib/k0s/kubelet` for supported CNIs on nonstandard configurations
3. those are IPv4 addresses which can be returned since they are valid returns on Linux (and are not filtered out by `a.IP.IsLoopback()`):
     1. `10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16 - Private-Use Networks` as described before - as discussed above, `Private-Use` seems like something *not* `public`
     2. `169.254.0.0/16 Link Local` (trigger of this issue) - again, `Link Local` seems like something *not* `public`; in many network configuration systems it's assigned by default to interfaces without IP (e.g. bridges, parent interfaces for VLANs) unless they are explicitly disabled; but it's *non-routable* and dynamic by nature
   3. `192.0.0.0/24 - IETF Protocol Assignments` - `Not usable` and none of the more specific reservations is anything that should be used by k0s
   4. `198.18.0.0/15 - Network Interconnect Device Benchmark Testing` - neither public nor local, but definitely sill used and definitely not something k0s should pick
   5. `240.0.0.0/4 - Reserved for Future Use` - neither public nor local, sometimes used in lab environments despite being reserved (it's massive pool, but systems are very picky about it) - it's not obvious whether the k0s should touch it or not
   6. `100.64.0.0/10 - Shared Address Space` - certainly not public (`Packets with Shared Address Space source or destination addresses MUST NOT be forwarded across Service Provider boundaries.`)
   7. all other proper unicast addresses - expected outcome
4. those are IPv6 addresses which can be returned since they are valid returns on Linux (and are not filtered out by `a.IP.IsLoopback()`):
   1. `fe80::/10 - link-local` - are undoubtedly non-public and k0s components are not expected to work (VRRP uses multicast, access from containers even on same host won't work due to link scoping); I believe this is mitigated in [IPv6 single-stack deployment](https://docs.k0sproject.io/head/single-stack-ipv6/) by having `fd00::/108` and `fd01::/108` assigned to interfaces which are skipped based on their name
   2. `fd00::/8 - ULA` - are locally assigned, so similar to `Private-Use Networks` and not public
   3. `2001:db8::/32 - documenattion prefix` - equivalent to `TEST-NET-*`
   4. `2002::/16` - the other end of `192.88.99.0/24`
   5. `f000::/4` - same issue as `240.0.0.0/4`
   6. all other proper unicast addresses - expected outcome
5. as last resort, it can return `loopback` address, which fits all common definitions of `local` and ignores all above checks

## Missing capability to influence this mechanism

If I'm not mistaken, the main use-case for this mechanism is to allow users to use tools like k0sctl which don't expose per-host `spec.api.address` or those who don't want to replicate IPAM assignments explicitly in `k0s.yaml`.

Adding some intermediate option between a set of hardcoded rules (currently ambiguous and consistent) and manual address assignments could add value for users. While it should be eventually separate feature request, it's important to see issues with address selection flow before implementing improvements.

There are various approaches, but it doesn't make sense to implement all knobs; I'll list all combinations to see which make sense the most:

1. allow-list for interface names (full, not prefixes) - this could be used to explicitly choose preferred interface (which would also solve issue of hardcoded exclusions in , also in clusters during some migrations where it's impossible to align interface names (e.g. when VLANs are involved)
2. ignore-list for interfaces - doesn't make much sense since it'd just extend problematic exclusion logic already in code without solving real issue
3. allow-list for address CIDRs - this could be problematic to implement and likely could be abused to force list of `/32`s causing issues; on the other hand, k0s should be picking addresses - not interfaces and it's common practice to have some IP ranges reserved for control plane usage
4. ignore-list for addresses - very unlikely to be used for purposes apart from solving bugs in current address selection flow - most people would have `169.254.0.0/16`, `fe80::/10` plus some specific subnets; in longer run, users would suffer from same issues like ignore-list for interfaces

Therefore, I propose to implement one extra optional knob `preferredInterfaces` as list of interface names. This would preserve backward compatibility while giving administrators deterministic control. `FirstPublicAddress` could be augmented to sequentially check whether any of the interfaces in the allow-list exist on the machine and then to perform the same checks as main loop would do on each assigned address; if none of the preferred interfaces exist, then the full list of interfaces would be checked as before. This way, user could (on their own risk) override some of interface name exclusions via `preferredInterfaces`.

This would solve many problems caused by Linux not returning interfaces in stable order; such issues can be caused both by:
- intentional changes to interfaces like active infrastructure migrations where interface order creation does not match on all machines and accidental reconnections (hot-plug)
- unexpected interfaces appearing before proper ones (e.g. USB Ethernet card left after maintenance)

## Original issue - link-local address

Original topic remains - what about `169.254.0.0/16`? After my research, I think it's reasonable to exclude this range using `IsLinkLocalUnicast` because link-local addresses are not stable, so they don't make much sense to be used in cluster; `127.0.0.1` as final fall-back seems reasonable. Moreover, both link-local and loopback addresses cannot be used for k8s endpoints.